
$f-size: 14px; 
$bg-dark: #393937;
$bg-pink: #efe3d4;
$bg-white: #ffffff;
$bg-grey: #f0f0f0;
$origin-orange: #EF6956;

$colors: (
    $bg-dark: #393937,
    $bg-pink: #efe3d4,
    $bg-white: #ffffff, 
    $bg-grey: #f0f0f0,
    $origin-orange: #EF6956,
);